# Q.1. What are keywords in python? Using the keyword library, print all the python keywords.

In [5]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Q.2. What are the rules to create variables in python?

In [10]:
#a-z, A-Z, 0-9,_
#you can start the variable using _
_age = 21
print(_age)

#you can start the variable using small letter
age = 21
print(age)

##you can start the variable using all capital letter
AGE = 21
print(AGE)

#you can start the variable using capital letter
Age = 21
print(Age)

#you cannot start the variable using number 0-9 but can be used in between
_age123 = 21
print(_age123)


"""

Start with a letter or underscore.
Can contain letters, numbers, and underscores.
Python is case-sensitive.
No spaces in variable names.
Avoid using reserved keywords.
Use only alphanumeric characters and underscores.
Cannot start with a number.
Avoid using built-in function or module names.
Choose meaningful and descriptive names.
"""

21
21
21
21
21

'\n\nStart with a letter or underscore.\nCan contain letters, numbers, and underscores.\nPython is case-sensitive.\nNo spaces in variable names.\nAvoid using reserved keywords.\nUse only alphanumeric characters and underscores.\nCannot start with a number.\nAvoid using built-in function or module names.\nChoose meaningful and descriptive names.\n'

In [9]:
#you cannot start the variable using number 0-9 or digits
12_age = 21
print(12_age)

SyntaxError: invalid decimal literal (998849465.py, line 2)

# Q.3. What are the standards and conventions followed for the nomenclature of variables in python to improve code readability and maintainability?

In [11]:
"""Use lowercase letters and underscores for variable names (snake_case) to enhance readability.

Choose descriptive and meaningful names that reflect the purpose or content of the variable.

Follow the PEP 8 style guide for Python code, which provides guidelines on variable naming and other coding conventions."""

'Use lowercase letters and underscores for variable names (snake_case) to enhance readability.\n\nChoose descriptive and meaningful names that reflect the purpose or content of the variable.\n\nFollow the PEP 8 style guide for Python code, which provides guidelines on variable naming and other coding conventions.'

# Q.4. What will happen if a keyword is used as a variable name?

In [19]:
in = ['apple','mango']

#throws or traceback syntax error

SyntaxError: invalid syntax (2128919805.py, line 1)

# Q.5. For what purpose def keyword is used?

In [21]:
"""
def keyword used to define the user defined funtion that can be reused 
"""

'\ndef keyword used to define the user defined funtion that can be reused \n'

# Q.6. What is the operation of this special character ‘\’?

In [24]:
#Escape Sequences: The backslash is used to represent special characters like newline (\n), 
#tab (\t), backspace (\b), and others
#Example

print('Hello\nWorld')
print('Hello\tWorld')
print('Hello\bWorld')

Hello
World
Hello	World
HelloWorld

# Q.7. Give an example of the following conditions:

In [26]:
#(i) Homogeneous list

lst1 = [1,2,3,4,5,6,7,8]

print(lst1,type(lst1))

[1, 2, 3, 4, 5, 6, 7, 8] <class 'list'>

In [27]:
#(ii) Heterogeneous set

set1 = {1,2,3,4.5,7.8,'bob'}

print(set1,type(set1))

{1, 2, 3, 4.5, 7.8, 'bob'} <class 'set'>

In [28]:
#(iii) Homogeneous tuple

tup = (1,2,3,5,6,9,10) 
print(tup,type(tup))

(1, 2, 3, 5, 6, 9, 10) <class 'tuple'>

# Q.8. Explain the mutable and immutable data types with proper explanation & examples

In [30]:
#dictonary is mutable and heterogeneous
person = {'rollno': 893,'name':'tom','percentage':93,(1,2):[4,5,6]}
print(person)
person['name'] = 'rabi'
print(person)
type(person)

"""Mutable objects can be modified after they are created. They allow changes to their internal state or 
elements without creating a new object.Examples of mutable data types in Python include lists, dictionaries, and sets.
Here's an example demonstrating mutability"""

{'rollno': 893, 'name': 'tom', 'percentage': 93, (1, 2): [4, 5, 6]}
{'rollno': 893, 'name': 'rabi', 'percentage': 93, (1, 2): [4, 5, 6]}

dict

In [31]:
#Tuple

fruits = ('banana','grapes','apples')
#tuples are immutable and hetrogenous
fruits[1] = 'mango'
print(fruits)
print(type(fruits))

"""Immutable objects cannot be modified once they are created. Any attempt to change their value will result 
in creating a new object.Examples of immutable data types in Python include integers, floats, booleans, 
strings, and tuples.Here's an example illustrating immutability"""

TypeError: 'tuple' object does not support item assignment

# Q.9. Write a code to create the given structure using only for loop.

In [37]:
"""    
    *
   ***
  *****
 *******
*********

"""

rows = 5

for i in range(rows):
    for j in range(i + 1):
        print("*",end = ' ')
    print( )

*
* *
* * *
* * * *
* * * * *

# Q.10. Write a code to create the given structure using while loop

In [48]:
"""
|||||||||
|||||||
|||||
|||
|
"""

rows = 5

n = rows

while n >= 1:
    print('|' * ((2*n)-1))
    n -= 1

|||||||||
|||||||
|||||
|||
|