In [5]:
#Q1.In the below elements which of them are values or an expression? eg:- values can be
#integer or string and expressions will be mathematical operators.

#1) (*)-->Multiplication ,(-)-->Substraction,(/)-->Substraction,(+)-Addition - Are the expressions used to 
  # perform mathematical operation
# Here are the examples

a = 10
b = 15
print(a+b) # + addition operator
print(a-b) # - substration operator
print(a*b) # * multiplication operator
print(a/b) # / division operator


#2) 'hello' --> represents the string date type

str1 = 'Hello World'
print(type(str1))

#3) 6 --> represnts integer value

x = 6
print(type(x))

#4) -87.8 --> represents float value

y = -87.8
print(type(y))

25
-5
150
0.6666666666666666
<class 'str'>
<class 'int'>
<class 'float'>

In [6]:
#Q2.What is the difference between string and variable?

#String is any thing you assign to a variable using quotes ' ' or " " will be considered as string
#example
a = 'Hello Python'
print(type(a))
#Variable is an identifier to store a value ina memory loaction and to manipulate it if needed
#example
x = 10
y = 20

print(x,y)

x = 25
print(x)

<class 'str'>
10 20
25

In [15]:
'''
Q3.Describe three different data types.

1.Numeric Data Type consists of int -> integer type, float -> floating point numeric and complex numbers

Integers --> the value is represented by int class.it contains positive and negative whole numbers
in python there is no limit to how long an integer value can be
'''
#example
k = 10
print(type(k))

#flot --> represents float class. it is a real number with floating point and is specified by a decimal point
#example 

j = 89.50
print(type(j))

#Complex Numbers --> represnted by complex class. it is specied (real part) + (imaginary part)j 
#example

z = 2 + 3j
print(type(z))


#2.Sequence Data Types 1.String 2.list and 3.tuples

#1.String Data Type --> arrays of bytes represting unicode characters. A string is collection of one or more characters
#put in single ' ' or double " " quotes.
#example

# Python Program for
# Creation of String
# Creating a String
# with single Quotes
String1 = 'Welcome to the Ineuron World'
print("\nString with the use of Single Quotes: ")
print(String1)
 
# Creating a String
# with double Quotes
String1 = "I'm a Ineuron"
print("\nString with the use of Double Quotes: ")
print(String1)
print(type(String1))
 
# Creating a String
# with triple Quotes
String1 = '''I'm a Ineuron and I live in a world of "Ineuron"'''
print("\nString with the use of Triple Quotes: ")
print(String1)
print(type(String1))
 
# Creating String with triple
# Quotes allows multiple lines
String1 = '''Ineuron
            Neuron Lab
            GitHub'''
print("\nCreating a multiline String: ")
print(String1)

'''
2.List Data Types --> List are just like arrays,which is in ordered collection of data.It is very flexible as the items in
a list do not need to be of same type
List can  be created by just placing the sequence in the square brackets []
List can be mutable
'''
# Creating a List
List = []
print("\nInitial blank List: ")
print(List)
 
# Creating a List with
# the use of a String
List = ['applemangobanana']
print("\nList with the use of String: ")
print(List)
 
# Creating a List with
# the use of multiple values
List = ["apple", "mango", "banana"]
print("\nList containing multiple values: ")
print(List[0])
print(List[2])
 
# Creating a Multi-Dimensional List
# (By Nesting a list inside a List)
List = [['apple', 'mango'], ['banana']]
print("\nMulti-Dimensional List: ")
print(List)

#in order to access the list items refer to the index number,use the index operator[]

'''
Tuple data type --> Just like list, a tuple is also an ordered collection. the only difference between a tuple and a list is
tuples are immutable i.e., tuples cannot be modified afer it is created.
tuples can be created by placing sequence of values seperated by a comma with or without perentheses for grouping the data 
sequence.
'''
# Creating an empty tuple
Tuple1 = ()
print("Initial empty Tuple: ")
print(Tuple1)
 
# Creating a Tuple with
# the use of Strings
Tuple1 = ('apple', 'mango')
print("\nTuple with the use of String: ")
print(Tuple1)
 
# Creating a Tuple with
# the use of list
list1 = [1, 2, 4, 5, 6]
print("\nTuple using List: ")
print(tuple(list1))
 
# Creating a Tuple with the
# use of built-in function
Tuple1 = tuple('mango')
print("\nTuple with the use of function: ")
print(Tuple1)
 
# Creating a Tuple
# with nested tuples
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('banana', 'cherry')
Tuple3 = (Tuple1, Tuple2)
print("\nTuple with nested tuples: ")
print(Tuple3)

<class 'int'>
<class 'float'>
<class 'complex'>

String with the use of Single Quotes:
Welcome to the Ineuron World

String with the use of Double Quotes:
I'm a Ineuron
<class 'str'>

String with the use of Triple Quotes:
I'm a Ineuron and I live in a world of "Ineuron"
<class 'str'>

Creating a multiline String:
Ineuron
            Neuron Lab
            GitHub

Initial blank List:
[]

List with the use of String:
['applemangobanana']

List containing multiple values:
apple
banana

Multi-Dimensional List:
[['apple', 'mango'], ['banana']]
Initial empty Tuple:
()

Tuple with the use of String:
('apple', 'mango')

Tuple using List:
(1, 2, 4, 5, 6)

Tuple with the use of function:
('m', 'a', 'n', 'g', 'o')

Tuple with nested tuples:
((0, 1, 2, 3), ('banana', 'cherry'))

In [20]:
#Q4.What is an expression made up of? What do all expressions do?
'''
A combination of operands and operators is called an expression. The expression in Python produces some value or 
result after being interpreted by the Python interpreter. An expression in Python is a combination of operators and 
operands. An example of expression
a = a + 10
c = a + b
'''
d = 10
e = 35 # a statement
d = d + 5 #an expression
f = d + e# expression
print(f)

50

In [19]:
#Q5.This assignment statements, like spam = 10. What is the difference between an expression and a statement?

spam = 10 #a statement
spam = spam + 15 #an expression

'''
1.Expressions can be assigned or used as operands, while statements can only be declared
2.An expression in Python is evaluated for some results.
3.The expression evaluation does not result in any state change.

1.A statement in Python is not evaluated for some results.
2.The execution of a statement changes the state of the variable.
'''

'\n1.Expressions can be assigned or used as operands, while statements can only be declared\n2.An expression in Python is evaluated for some results.\n3.The expression evaluation does not result in any state change.\n\n1.A statement in Python is not evaluated for some results.\n2.The execution of a statement changes the state of the variable.\n'

In [21]:
#Q6. After running the following code, what does the variable bacon contain?
becon = 22
becon+1

23

In [28]:
#Q7.What should the values of the following two terms be?
# 'spam'+'spamspam' and 'spam'*3 gives same output
'spam'+'spampspam'

'spamspampspam'

In [29]:
'spam'*3

'spamspamspam'

In [30]:
#Q8.Why is eggs a valid variable name while 100 is invalid?
#A variable can start from A-Z,a-z,_ the it can be valid variable
#example
#you can start the variable using _
_age = 21
print(_age)

#you can start the variable using small letter
age = 21
print(age)

##you can start the variable using all capital letter
AGE = 21
print(AGE)

#you can start the variable using capital letter
Age = 21
print(Age)

#you cannot start the variable using number 0-9 but can be used in between
_age123 = 21
print(_age123)

21
21
21
21
21

In [32]:
#you cannot start the variable using number 0-9 or digits
12age = 21
print(12age)

SyntaxError: invalid decimal literal (1733840651.py, line 2)

In [46]:
#Q9.What three functions can be used to get the integer, floating-point number, or string version of a value?
# int(),float() and str()

a = 10 # default type is of int
b = input('enter number:')
print('Enetered number is of type:',type(b))
print('a is of type:',type(a))
print('a is of type:',type(float(a)))
print('a is of type:',type(str(a)))
print('b is of type:',type(int(b)))

enter number:15
Enetered number is of type: <class 'str'>
a is of type: <class 'int'>
a is of type: <class 'float'>
a is of type: <class 'str'>
b is of type: <class 'int'>

In [50]:
#Q10. Why does this expression cause an error? How can you fix it?

'i have eaten '+'99 '+'burritos '#since interger type cannot be concatenate with string type we have to place 99 in double quotes

'i have eaten 99 burritos '