# 1. What exactly is []?

In [2]:
#Empty List can add the data into it.

lst = []
type(lst)
len(lst)

0

# 2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [11]:
spam = [2,4,6,8,10]

spam[2] = 'hello'

spam

[2, 4, 'hello', 8, 10]

# Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.
#3. What is the value of spam[int(int('3' * 2) / 11)]?

#4. What is the value of spam[-1]?

#5. What is the value of spam[:2]?

In [14]:
spam = ['a','b','c','d']

spam[int(int('3'*2)/11)]

'd'

In [15]:
spam[-1] #negative indexing

'd'

In [16]:
spam[:2]#slicing

['a', 'b']

# Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

#6. What is the value of bacon.index('cat')?

#7. How does bacon.append(99) change the look of the list value in bacon?

#8. How does bacon.remove('cat') change the look of the list in bacon

In [21]:
bacon = [3.14,'cat',11,'cat',True]

bacon.index('cat')

1

In [24]:
bacon = [3.14,'cat',11,'cat',True]
bacon.append(99) #appends the data at the end of the list

bacon

[3.14, 'cat', 11, 'cat', True, 99]

In [25]:
bacon = [3.14,'cat',11,'cat',True]
bacon.remove('cat') # removes the first occurance of item

bacon

[3.14, 11, 'cat', True]

# 9. What are the list concatenation and list replication operators?

In [27]:
#List concatenation

lst1 = [1,2,3,4,5,6]
lst2 = ['apple','amango','grapes','monkey']

lst1 = lst1 + lst2
lst1

[1, 2, 3, 4, 5, 6, 'apple', 'amango', 'grapes', 'monkey']

In [28]:
#List replication 

lst1 * 3

[1,
 2,
 3,
 4,
 5,
 6,
 'apple',
 'amango',
 'grapes',
 'monkey',
 1,
 2,
 3,
 4,
 5,
 6,
 'apple',
 'amango',
 'grapes',
 'monkey',
 1,
 2,
 3,
 4,
 5,
 6,
 'apple',
 'amango',
 'grapes',
 'monkey']

# 10. What is difference between the list methods append() and insert()?

In [30]:
"""
The difference between the two methods is that . append() adds an item to the end of a list, whereas . 
insert() inserts and item in a specified position in the list.
"""
bacon = [3.14,'cat',11,'cat',True]

bacon.append(99) #appaneds the data at the end of the list

bacon

[3.14, 'cat', 11, 'cat', True, 99]

In [32]:
bacon = [3.14,'cat',11,'cat',True]

bacon.insert(3,'length') #inserts the data at specified index 

bacon

[3.14, 'cat', 11, 'length', 'cat', True]

# 11. What are the two methods for removing items from a list?

In [33]:
"""
The methods are remove(), pop() and clear(). It helps to remove the very first given element matching from the list. 
The pop() method removes an element from the list based on the index given
"""

#remove(item) - removeds first occurence of a item
bacon = [3.14, 'cat', 11, 'cat', True]
bacon.remove('cat')
bacon

[3.14, 11, 'cat', True]

In [34]:
#pop() - Remove and returns item at index and by default last item will be removed.
bacon = [3.14, 'cat', 11, 'cat', True]
bacon.pop(1)
bacon

[3.14, 11, 'cat', True]

# 12. Describe how list values and string values are identical.

In [35]:
"""
Both lists and strings can be passed to len()
Have indexes and slices
Can be used in for loops
Can be concatenated or replicated
Can be used with the in and not in operators

"""

'\nBoth lists and strings can be passed to len()\nHave indexes and slices\nCan be used in for loops\nCan be concatenated or replicated\nCan be used with the in and not in operators\n\n'

# 13. What's the difference between tuples and lists?

In [36]:
"""
List can be mutable and combination of all date types represnted by []
lst = [1,2,3,'ben']
whereas tuples are immutable which can be use as data integration is required. represnted by ()
tup = (1,2,3,6,'sam')
"""

"\nList can be mutable and combination of all date types represnted by []\nlst = [1,2,3,'ben']\nwhereas tuples are immutable which can be use as data integration is required. represnted by ()\ntup = (1,2,3,6,'sam')\n"

# 14. How do you type a tuple value that only contains the integer 42?

In [38]:
tup = (42,)
tup

42

# 15. How do you get a list value's tuple form? How do you get a tuple value's list form?

In [40]:
bacon = [3.14, 'cat', 11, 'cat', True]

tup = tuple(bacon)
tup

(3.14, 'cat', 11, 'cat', True)

In [42]:
tupl = (3.14, 'cat', 11, 'cat', True)

lst = list(tupl)
lst

[3.14, 'cat', 11, 'cat', True]

# 16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

In [43]:
"""
Variables will contain references to list values rather than list values themselves. 
But for strings and integer values, variables simply contain the string or integer value.
"""

'\nVariables will contain references to list values rather than list values themselves. \nBut for strings and integer values, variables simply contain the string or integer value.\n'

# 17. How do you distinguish between copy.copy() and copy.deepcopy()?

In [46]:
"""
The copy() returns a shallow copy of the list, and deepcopy() returns a deep copy of the list
only copy.deepcopy() will duplicate any lists inside the list

As you can see that both have the same value but have different IDs.


"""

# importing copy module
import copy
 
# initializing list 1
li1 = [1, 2, [3, 5], 4]
 
# using copy for shallow copy
li2 = copy.copy(li1)
print("li2 ID: ", id(li2), "Value: ", li2)
# using deepcopy for deepcopy
li3 = copy.deepcopy(li1)
print("li3 ID: ", id(li3), "Value: ", li3)

li2 ID:  2790816892352 Value:  [1, 2, [3, 5], 4]
li3 ID:  2790816939264 Value:  [1, 2, [3, 5], 4]

In [47]:

# importing "copy" for copy operations
import copy
 
# initializing list 1
li1 = [1, 2, [3,5], 4]
 
# using deepcopy to deep copy
li2 = copy.deepcopy(li1)
 
# original elements of list
print ("The original elements before deep copying")
for i in range(0,len(li1)):
    print (li1[i],end=" ")
 
print("\r")
 
# adding and element to new list
li2[2][0] = 7
 
# Change is reflected in l2
print ("The new list of elements after deep copying ")
for i in range(0,len( li1)):
    print (li2[i],end=" ")
 
print("\r")
 
# Change is NOT reflected in original list
# as it is a deep copy
print ("The original elements after deep copying")
for i in range(0,len( li1)):
    print (li1[i],end=" ")

The original elements before deep copying
1 2 [3, 5] 4
The new list of elements after deep copying
1 2 [7, 5] 4
The original elements after deep copying
1 2 [3, 5] 4