In [1]:
if True:
   print('this is true') # Error: expected an indented block

for i in range(3):
    print(i)  # Error: expected an indented block

def hello():
    print('hello world') #Error: expected an indented block
print(hello())

while False:
     print('this wont print') #Error: expected an indented block


x = 2
if x >0:
    print('positive number')
    --x



s = 1+2+3+5+6+9+\
3+9+7+9

print(s)

fruits = ['apples','bananas','grapes']
print(fruits)

hetro_mylist = [1,'alice',['apples','bananas','grapes']] #list can be mutable

print(hetro_mylist)
print(hetro_mylist[2])

my_tuple = (1,2,3,4,5,6) #tuples are immutable
print(my_tuple)
#my_tuple[2] = 9
#print(my_tuple)
#both list and tuples are heterogeneous

hetro_mylisttuples = (1,'alice',('apples','bananas','grapes')) #list can be mutable

print(hetro_mylisttuples)
print(hetro_mylisttuples[2])

print(type(hetro_mylisttuples))

#dictonary is mutable and heterogeneous
person = {'rollno': 893,'name':'tom','percentage':93,(1,2):[4,5,6]}
print('\n',person)
print(type(person))
"""
keys and values in dictonary can be any type . values can be hetero buts
keys should be of an immutable type like int string and tuple
"""
#set is an unordered collection of items where evey element is unique
color = {'blue','green','red'}
print(color)
print(type(color))

#standard I/O
#output
print('my name is Tom')

#input

x = input("Enter your name:")
print('How are you',x)
print(f'how are you,{x}')

this is true
0
1
2
hello world
None
positive number
54
['apples', 'bananas', 'grapes']
[1, 'alice', ['apples', 'bananas', 'grapes']]
['apples', 'bananas', 'grapes']
(1, 2, 3, 4, 5, 6)
(1, 'alice', ('apples', 'bananas', 'grapes'))
('apples', 'bananas', 'grapes')
<class 'tuple'>

 {'rollno': 893, 'name': 'tom', 'percentage': 93, (1, 2): [4, 5, 6]}
<class 'dict'>
{'blue', 'green', 'red'}
<class 'set'>
my name is Tom
Enter your name:tom
How are you tom
how are you,tom

In [2]:
def add_num(c,d):
 """
 Paramaters :
 c(int) : the 1st variable
 d(int) : the 2nd variable
 Return:
 int : which is the sum of c and d
 """

 return c + d
print(add_num.__doc__)

 Paramaters :
 c(int) : the 1st variable
 d(int) : the 2nd variable
 Return:
 int : which is the sum of c and d

In [1]:
1+1

2

In [1]:
#what are packages?
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
import math
result = math.sqrt(25)
print(result)

5.0

In [4]:
from math import sqrt
result = sqrt(144)
print(result)

12.0

In [13]:
import math
m1 = 80
m2 = 90

tot = m1 + m2
print(tot)

170

In [17]:
#a-z, A-Z, 0-9,_
#you can start the variable using _
_age = 21
print(_age)

#you can start the variable using small letter
age = 21
print(age)

##you can start the variable using all capital letter
AGE = 21
print(AGE)

#you can start the variable using capital letter
Age = 21
print(Age)

#you cannot start the variable using number 0-9 but can be used in between
_age123 = 21
print(_age123)


#you cannot start the variable using number 0-9 or digits
#12_age = 21
#print(12_age)

21
21
21
21
21

In [28]:
#Indentation?

x =5
# if x is greater than 2 i have to print 'positive number'
if x > 2:
  print('Positive Number')
if x > 4:
  print('positive number and it is more than 4')

Positive Number
positive number and it is more than 4

In [29]:
# integer,float,string.....

a = 10 #its a integer
print(type(a))
b = 12.50 #its a float
print(type(b))
nm = 'tom'
c = '12' #c is treated as string(char)
print(type(nm))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [33]:
#List 
fruits = ['banana','grapes','apples']
print(fruits)
# list are mutable 
fruits[1] = 'mango'
print(fruits)
#multiple data types which is hetrogenous
a = [1,2,3,5.0,6.8,'lux']
print(a)
print(type(a))
print(type(fruits))

['banana', 'grapes', 'apples']
['banana', 'mango', 'apples']
[1, 2, 3, 5.0, 6.8, 'lux']
<class 'list'>
<class 'list'>

In [37]:
#Tuple

fruits = ('banana','grapes','apples')
#tuples are immutable and hetrogenous
#fruits[1] = 'mango'
print(fruits)
print(type(fruits))

a = (1,2,3,5.0,6.8,'lux')

print(a)
print(type(a))

('banana', 'grapes', 'apples')
<class 'tuple'>
(1, 2, 3, 5.0, 6.8, 'lux')
<class 'tuple'>

In [4]:
#Dictonary
#Dictonaries and list are mutable

my_dict = {'name':'Tom','subject':'math','marks':90}
print(my_dict)

#list & tuples are ordered where as dictonary is not in order

{'name': 'Tom', 'subject': 'math', 'marks': 90}

In [21]:
#sets there are no keyvalue unlike dictionary
#sets and dictonary are unordered

fruits = {'banana','cherries','apples'}
print(fruits)

s1 = {1,2,3,4,5,'banana'}
s2 = {1,2,3,4,5,6,7,8,9}

s = s1,s2

print(s)

{'banana', 'cherries', 'apples'}
({1, 2, 3, 4, 5, 'banana'}, {1, 2, 3, 4, 5, 6, 7, 8, 9})

In [20]:
#Table 1:name,salary,designation...main
    
#Table 2:name,salary,designation...city = bangalore

In [22]:
#Standard Input and ouput --- 27/05/2023

a = 10
b = 20
c = a+b
c

30

In [34]:
#Operators

#Arithmetic + - / * // ** % ... etc

a = int(input('Enter the number:\n'))

 
b = int(input('Enter the number:\n'))

print('addition',a+b)
print('substraction',a-b)
print('multiplication',a*b)
print('power function',a**b)
print('modulo function',a%b)
print('division',a/b)
print('this operater gives nearest Floor/integer division operator',a//b) # this operater gives nearest Floor/integer division operator

Enter the number:
23
Enter the number:
5
addition 28
substraction 18
multiplication 115
power function 6436343
modulo function 3
division 4.6
this operater gives nearest Floor/integer division operator 4

In [54]:
#Comparison Operations

a = int(input('Enter the number:'))

 
b = int(input('Enter the number:'))

print(a == b,'\n') # a equals to b checking

print(a != b,'\n') # a is not equal to b checking

print(a > b,'\n') # a is greater than b checking

print(a < b,'\n') # a is less than b checking

print(a >= b,'\n') # a is greater than or equal to b checking

print(a <= b,'\n') # a is less than or equal to b checking



print( a and b,'\n')

print(a or b)

Enter the number:25
Enter the number:16
False

True

True

False

True

False

16

25

In [62]:
#logical operation
#we have to apply for a job : two candidates are there : (1) more than 60% marks (2) you should be from cs, it
#|------------------AND---------------------------------|
# tom he has 75% marks and he is from arts = tom will go out 
# alice she has 61% marks and she is from cs = alce go and give interview

#we have to apply for a job : two candidates are there : (1) more than 60% marks (2) you should be from cs, it
#|------------------OR---------------------------------|
# tom he has 75% marks and he is from arts 
# alice she has 61% marks and she is from cs
#both tom and alice can attend the interview

#|------------------NOT---------------------------------|
#opposite to what you have

a = True
b = False

print( a and b,'\n')

print(a or b,'\n')

print(not a and b,'\n')

print(a and not b,'\n')

False

True

False

True