In [1]:
if True:
   print('this is true') # Error: expected an indented block

for i in range(3):
    print(i)  # Error: expected an indented block

def hello():
    print('hello world') #Error: expected an indented block
print(hello())

while False:
     print('this wont print') #Error: expected an indented block


x = 2
if x >0:
    print('positive number')
    --x



s = 1+2+3+5+6+9+\
3+9+7+9

print(s)

fruits = ['apples','bananas','grapes']
print(fruits)

hetro_mylist = [1,'alice',['apples','bananas','grapes']] #list can be mutable

print(hetro_mylist)
print(hetro_mylist[2])

my_tuple = (1,2,3,4,5,6) #tuples are immutable
print(my_tuple)
#my_tuple[2] = 9
#print(my_tuple)
#both list and tuples are heterogeneous

hetro_mylisttuples = (1,'alice',('apples','bananas','grapes')) #list can be mutable

print(hetro_mylisttuples)
print(hetro_mylisttuples[2])

print(type(hetro_mylisttuples))

#dictonary is mutable and heterogeneous
person = {'rollno': 893,'name':'tom','percentage':93,(1,2):[4,5,6]}
print('\n',person)
print(type(person))
"""
keys and values in dictonary can be any type . values can be hetero buts
keys should be of an immutable type like int string and tuple
"""
#set is an unordered collection of items where evey element is unique
color = {'blue','green','red'}
print(color)
print(type(color))

#standard I/O
#output
print('my name is Tom')

#input

x = input("Enter your name:")
print('How are you',x)
print(f'how are you,{x}')

this is true
0
1
2
hello world
None
positive number
54
['apples', 'bananas', 'grapes']
[1, 'alice', ['apples', 'bananas', 'grapes']]
['apples', 'bananas', 'grapes']
(1, 2, 3, 4, 5, 6)
(1, 'alice', ('apples', 'bananas', 'grapes'))
('apples', 'bananas', 'grapes')
<class 'tuple'>

 {'rollno': 893, 'name': 'tom', 'percentage': 93, (1, 2): [4, 5, 6]}
<class 'dict'>
{'blue', 'green', 'red'}
<class 'set'>
my name is Tom
Enter your name:tom
How are you tom
how are you,tom

In [2]:
def add_num(c,d):
 """
 Paramaters :
 c(int) : the 1st variable
 d(int) : the 2nd variable
 Return:
 int : which is the sum of c and d
 """

 return c + d
print(add_num.__doc__)

 Paramaters :
 c(int) : the 1st variable
 d(int) : the 2nd variable
 Return:
 int : which is the sum of c and d

In [1]:
1+1

2

In [1]:
#what are packages?
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
import math
result = math.sqrt(25)
print(result)

5.0

In [4]:
from math import sqrt
result = sqrt(144)
print(result)

12.0

In [13]:
import math
m1 = 80
m2 = 90

tot = m1 + m2
print(tot)

170

In [17]:
#a-z, A-Z, 0-9,_
#you can start the variable using _
_age = 21
print(_age)

#you can start the variable using small letter
age = 21
print(age)

##you can start the variable using all capital letter
AGE = 21
print(AGE)

#you can start the variable using capital letter
Age = 21
print(Age)

#you cannot start the variable using number 0-9 but can be used in between
_age123 = 21
print(_age123)


#you cannot start the variable using number 0-9 or digits
#12_age = 21
#print(12_age)

21
21
21
21
21

In [28]:
#Indentation?

x =5
# if x is greater than 2 i have to print 'positive number'
if x > 2:
  print('Positive Number')
if x > 4:
  print('positive number and it is more than 4')

Positive Number
positive number and it is more than 4

In [29]:
# integer,float,string.....

a = 10 #its a integer
print(type(a))
b = 12.50 #its a float
print(type(b))
nm = 'tom'
c = '12' #c is treated as string(char)
print(type(nm))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [33]:
#List 
fruits = ['banana','grapes','apples']
print(fruits)
# list are mutable 
fruits[1] = 'mango'
print(fruits)
#multiple data types which is hetrogenous
a = [1,2,3,5.0,6.8,'lux']
print(a)
print(type(a))
print(type(fruits))

['banana', 'grapes', 'apples']
['banana', 'mango', 'apples']
[1, 2, 3, 5.0, 6.8, 'lux']
<class 'list'>
<class 'list'>

In [37]:
#Tuple

fruits = ('banana','grapes','apples')
#tuples are immutable and hetrogenous
#fruits[1] = 'mango'
print(fruits)
print(type(fruits))

a = (1,2,3,5.0,6.8,'lux')

print(a)
print(type(a))

('banana', 'grapes', 'apples')
<class 'tuple'>
(1, 2, 3, 5.0, 6.8, 'lux')
<class 'tuple'>

In [4]:
#Dictonary
#Dictonaries and list are mutable

my_dict = {'name':'Tom','subject':'math','marks':90}
print(my_dict)

#list & tuples are ordered where as dictonary is not in order

{'name': 'Tom', 'subject': 'math', 'marks': 90}

In [21]:
#sets there are no keyvalue unlike dictionary
#sets and dictonary are unordered

fruits = {'banana','cherries','apples'}
print(fruits)

s1 = {1,2,3,4,5,'banana'}
s2 = {1,2,3,4,5,6,7,8,9}

s = s1,s2

print(s)

{'banana', 'cherries', 'apples'}
({1, 2, 3, 4, 5, 'banana'}, {1, 2, 3, 4, 5, 6, 7, 8, 9})

In [20]:
#Table 1:name,salary,designation...main
    
#Table 2:name,salary,designation...city = bangalore

In [22]:
#Standard Input and ouput --- 27/05/2023

a = 10
b = 20
c = a+b
c

30

In [34]:
#Operators

#Arithmetic + - / * // ** % ... etc

a = int(input('Enter the number:\n'))

 
b = int(input('Enter the number:\n'))

print('addition',a+b)
print('substraction',a-b)
print('multiplication',a*b)
print('power function',a**b)
print('modulo function',a%b)
print('division',a/b)
print('this operater gives nearest Floor/integer division operator',a//b) # this operater gives nearest Floor/integer division operator

Enter the number:
23
Enter the number:
5
addition 28
substraction 18
multiplication 115
power function 6436343
modulo function 3
division 4.6
this operater gives nearest Floor/integer division operator 4

In [54]:
#Comparison Operations

a = int(input('Enter the number:'))

 
b = int(input('Enter the number:'))

print(a == b,'\n') # a equals to b checking

print(a != b,'\n') # a is not equal to b checking

print(a > b,'\n') # a is greater than b checking

print(a < b,'\n') # a is less than b checking

print(a >= b,'\n') # a is greater than or equal to b checking

print(a <= b,'\n') # a is less than or equal to b checking



print( a and b,'\n')

print(a or b)

Enter the number:25
Enter the number:16
False

True

True

False

True

False

16

25

In [62]:
#logical operation
#we have to apply for a job : two candidates are there : (1) more than 60% marks (2) you should be from cs, it
#|------------------AND---------------------------------|
# tom he has 75% marks and he is from arts = tom will go out 
# alice she has 61% marks and she is from cs = alce go and give interview

#we have to apply for a job : two candidates are there : (1) more than 60% marks (2) you should be from cs, it
#|------------------OR---------------------------------|
# tom he has 75% marks and he is from arts 
# alice she has 61% marks and she is from cs
#both tom and alice can attend the interview

#|------------------NOT---------------------------------|
#opposite to what you have

a = True
b = False

print( a and b,'\n')

print(a or b,'\n')

print(not a and b,'\n')

print(a and not b,'\n')

False

True

False

True

In [7]:
#Binary Numbers 0,1 this bit wise operators deals with this binary numbers

In [11]:
#AND operator : &

'''
AND operator : & compares each bit of 1st operand with 2nd
if both bits are 1, corrosponding bit is set to 1 otherwise to 0
'''

a = 10 #1010
b = 4 #0100

result = a & b
#rint(result)
#in(0)

'''
OR operator : | compares each bit of 1st operand with 2nd 
if either bit is 1, corrosponding bit is set to 1,otherwise the result bit is set to 0
'''
result = a | b
#rint(result)
#in(result)
#1 0 1 0
#0 1 0 0

#result 1 1 1 0 equals to 14


#NOT operator : ~
#XOR operator : ^ compares each bit of 1st operand with 2nd
#if one bit is 1 (but not both) ,corrosponding result is set to 1, otherwise 0

result = a ^ b
print(result)

14

In [14]:
#Right shift 

a = 10  #1010
result = a >> 2
#2 0010
print(result)

#Left Shift

result = a << 2 #10 --- 1010   40-- 101000
print(result)

2
40

In [16]:
#Assignment operator

x = 5
x += 3 # x = x+3
print(x)

y = 5
y *= 3
print(y)

z = 5
z /= 3
print(z)

8
15
1.6666666666666667

In [17]:
#if statements

age = int(input('Enter the Age of the person:'))
if age >= 18:
    print('you can drive')
else:
    print('Warning! not eligible to drive')

Enter the Age of the person:15
Warning! not eligible to drive

In [27]:
score = int(input('Enter the Score of the Student:'))
if score > 90:
    print('excellent perfomanace,your garde is A+')
elif score >= 80:
    print('good performance, your garde is A')
elif score >= 70:
    print('average performace,your grade is b')
else:
    print('performance not good,your grade is c')

Enter the Score of the Student:85
good performance, your garde is A

In [32]:
#Find the largest number from 3 given number

num1 = int(input('enter the number 1:'))
num2 = int(input('enter the number 2:'))
num3 = int(input('enter the number 3:'))

if (num1 >= num2) and (num1 >= num3):
    largest = num1
elif (num2 >= num1) and (num2 >= num3):
    largest = num2
else:
    largest = num3
print('Largest Number is:',largest)

enter the number 1:15
enter the number 2:60
enter the number 3:100
Largest Number is: 100

In [35]:
#Let us make a simple calculator which takes the choice of operation from user
#also user can give two numbers which needed to be computed

choice = input('enter the choice(add/sub/mul/div):')

num1 = float(input('enter the number 1:'))
num2 = float(input('enter the number 2:'))

if choice == 'add':
    print(num1,'+',num2,'=',num1 + num2)
elif choice == 'sub':
    print(num1,'-',num2,'=',num1 - num2)
elif choice == 'mul':
    print(num1,'*',num2,'=',num1 * num2)
elif choice == 'div':
    print(num1,'/',num2,'=',num1 / num2)
    
else:
    print('you entered a wrong choice!! :)')

enter the choice(add/sub/mul/div):mul
enter the number 1:20
enter the number 2:25
20.0 * 25.0 = 500.0

In [42]:
#we have 3 postions : executive, manager ,senior manager
#take input from user 'designation' and print the salary range of that designation

desgntn = input('Enter the Designation(1.Executive 2.Manager 3.Senior Manager):')

desgntn = desgntn.lower() # converting the designation input to lower case

if desgntn == 'executive':
    print('salary range is more than 5.00lakhs per month')
elif desgntn == 'manager':
     print('salary range is 1.50lakhs to 2.00lakhs per month')
elif desgntn == 'senior manager':
    print('salary range is 2.50lakhs to 3.50lakhs per month')
else:
          print('you entered a wrong choice')

Enter the Designation(1.Executive 2.Manager 3.Senior Manager):manager
salary range is 1.50lakhs to 2.00lakhs per month

In [51]:
#For Loop generating sequence of numbers 1,2,3,4,5..

for i in range(0,100,5): #using range(start,stop,step)
    print(i)

1
6
11
16
21
26
31
36
41
46
51
56
61
66
71
76
81
86
91
96

In [53]:
#let us have for loop on list
fruits = ['apple','cherry','banana']

for fruit in fruits:
    print('Yummy Yummy:',fruit)

Yummy Yummy: apple
Yummy Yummy: cherry
Yummy Yummy: banana

In [54]:
country = ['India','UK','USA','Russia','Germany','France']

for index in range(len(country)):
    print(country[index])

India
UK
USA
Russia
Germany
France

In [1]:
'''
*  i= 0 , then j in range(1)
** i= 1 , then j in range(2)
*** i= 2 , then j in range(3)
**** i= 3 , then j in range(4)
***** i= 4 , then j in range(5)
print the patern
'''

rows = 10
for i in range(rows):
    for j in range(i+1):
        print('*',end=' ') #end=' ' to have space between *
            
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [83]:
#While Loop

count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [1]:
text = ''

while text != 'quit':
    text = input('Enter a word (or quit to Exit):')
    text = text.upper()
    print('You Entered:',text)

Enter a word (or quit to Exit):happy new year
You Entered: happy new year
Enter a word (or quit to Exit):hello welcome to world of coding
You Entered: hello welcome to world of coding
Enter a word (or quit to Exit):quit
You Entered: quit

In [8]:
#for we used generally we know when to stop
#while is when stop condition is satisfied, we do not know

#we have list nm = [Alice,Tom,Mary,James]
#salary = [30000,40000,45000,40000]
#give 5% bonus to James as he is performing great. Boss is happy

nm = ['Alice','Tom','Mary','James']
salary = [30000,40000,45000,40000]
print('Old Salary:',salary)
#first sub problem is we need to itirate both the list
#we need to update the salary of james
for i in range(len(nm)):
    if nm[i] == 'James':
        increment = salary[i]*0.05
        salary[i] += increment
print('Updated Salary:',salary)

Old Salary: [30000, 40000, 45000, 40000]
Updated Salary: [30000, 40000, 45000, 42000.0]

In [1]:
#June 3rd Live Class

In [3]:
name = 'John Deo'
print(name)

John Deo

In [4]:
#index is starting from 0,1,2,3.....n-1
print(name[2])

h

In [5]:
for i in 'hello':
    print(i)

h
e
l
l
o

In [7]:
pan = 'AAAAA0000B'
print(len(pan))

10

In [12]:
tw = 'Indian economy growth is not as expected'
if 'is' in tw:
    print('Data is there in tw')
print('economy' in tw)

Data is there in tw
True

In [24]:
#Slicing string_name[start:end]
#start is inclusive it includes the index value & end is exclusive it does not include the incluse the particular index value

name = 'John Deo'
print(name[2])

print(name[0:4])  # index at 0 i.e., 'J' 1 is at 'o' ....

print(name[:4]) #by default python starts at index 0
print(name[0:]) #runs till the end

print(name[-3:]) # "John Deo" third to last
print(name[-7:4])

h
John
John
John Deo
Deo
ohn

In [30]:
nm = 'john deo'
print(nm.upper())

print(nm.lower())

print(nm.replace('j','J')) #replace(what,by)

print(nm.upper().split(' '))

JOHN DEO
john deo
John deo
['JOHN', 'DEO']

In [32]:
nm1 = 'John'
nm2 = 'Deo'

print(nm1 + ' ' + nm2)

John Deo

In [34]:
list1 = ['apple','banana','cherries']
print(list1)
list1[1] = 'mangoes'
print('_______________________________')
print(list1)

['apple', 'banana', 'cherries']
_______________________________
['apple', 'mangoes', 'cherries']

In [35]:
list2 = ['apple','banana','cherries','grapes','almonds']
print(list2)
print('_________________________________________________')
list2[1:3] = ['mangoes','blue berry']
print(list2)

['apple', 'banana', 'cherries', 'grapes', 'almonds']
_________________________________________________
['apple', 'mangoes', 'blue berry', 'grapes', 'almonds']

In [43]:
list3 = ['apple','banana','cherries',]
print(list3)
print('____________________________________')
list3.insert(1,'mangoes') #appends at the specified index value
print(list3)

['apple', 'banana', 'cherries']
____________________________________
['apple', 'mangoes', 'banana', 'cherries']

In [44]:
list4 = ['apple','banana','cherries',]
print(list4)
print('____________________________________')
list4.append('orange') # append the list at the end
print(list4)

['apple', 'banana', 'cherries']
____________________________________
['apple', 'banana', 'cherries', 'orange']

In [51]:
list4 = ['apple','banana','cherries',]
print(list4)
print('____________________________________')
list4.append('orange') # append the list at the end
print(list4)

list4.remove('banana')
print(list4)

['apple', 'banana', 'cherries']
____________________________________
['apple', 'banana', 'cherries', 'orange']
['apple', 'cherries', 'orange']

In [52]:
list4 = ['apple','banana','cherries',]
print(list4)
print('____________________________________')
list4.append('orange') # append the list at the end
print(list4)

list4.pop(2)
print(list4)

['apple', 'banana', 'cherries']
____________________________________
['apple', 'banana', 'cherries', 'orange']
['apple', 'banana', 'orange']

In [53]:
#remove() need to pass arguments
#pop() index need to be passed
#where as del method returns the removed element

#the way it removes the element

list4 = ['apple','banana','cherries',]
print(list4)
print('____________________________________')
list4.append('orange') # append the list at the end
print(list4)

del list4[1]
print(list4)

['apple', 'banana', 'cherries']
____________________________________
['apple', 'banana', 'cherries', 'orange']
['apple', 'cherries', 'orange']

In [56]:
"""
What is the difference between pop() and del?
del removes an element(s) by index. At the same time, pop() removes it by index and also returns the value. 
pop() is a function, and del is a keyword in Python.

How are pop() and remove() similar?
Both pop and remove are the in-built functions in Python which work on lists for deleting elements.

What is the return value of pop()?
The pop() function returns the popped element.

What is the return value of remove()?
It is a void return type function, i.e., it does not return anything.

What if pop() is applied to an empty list?
It will give an IndexError saying pop from an empty list. 

Can I pop() in a tuple like a list?
No, tuples are immutable and don't have a pop method.

Examples
The effects of the three different methods to remove an element from a list:

remove removes the first matching value, not a specific index:

del removes the item at a specific index:

and pop removes the item at a specific index and returns it.

Use del to remove an element by index, pop() to remove it by index if you need the returned value, and 
remove() to delete an element by value

Evidently, pop is the only one which returns the value, and remove is the only one which searches the object, 
while del limits itself to a simple deletion.
"""
print('\n')
a = [0, 2, 3, 2]
a.remove(2)
print(a)

b = [9, 8, 7, 6]
del b[1]
print(b)

c = [4, 3, 5]
c.pop(1)
print(c)

[0, 3, 2]
[9, 7, 6]
[4, 5]

In [57]:
list2 = ['apple','banana','cherries','grapes','almonds']
for lst in list2:
    print(lst)

apple
banana
cherries
grapes
almonds

In [61]:
list2 = ['apple','banana','cherries','grapes','almonds']
print(len(list2))
print(range(len(list2)))
for lst in range(len(list2)):
    print(list2[lst]) #print(lst) will give the index postions where as list2[lst] will give the list of elemnets

5
range(0, 5)
apple
banana
cherries
grapes
almonds

In [63]:
list5 = ['apple','banana','cherries','grapes','almonds']
newlist = []

for lst in list5:
    if 'g' in lst:
        newlist.append(lst)
print(newlist)

['grapes']

In [68]:
#list comprehention  or shortend code

newlist = [lst for lst in list5 if 'g' in lst]
print(newlist)

['grapes']

In [74]:
list6 = ['Apple','Banana','Cherries','Grapes','Almonds']
list6.sort()
print(list6)

list6.sort(reverse = True)
print(list6)

['Almonds', 'Apple', 'Banana', 'Cherries', 'Grapes']
['Grapes', 'Cherries', 'Banana', 'Apple', 'Almonds']

In [76]:
lst = [1,6,9,8,10,2,5,7]

lst.sort()
print(lst)
lst.sort(reverse = True)
print(lst)

[1, 2, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 2, 1]

In [78]:
lst1 = ['Apple','Banana','Cherries','Grapes','Almonds']
lst2 = lst1.copy()
lst2.sort()
print(lst2)

['Almonds', 'Apple', 'Banana', 'Cherries', 'Grapes']

In [79]:
tupl = ('Apple',"Grapes")
print(tupl)
print('------------------------')
tupl.insert(1,'Mango') #we cannot mute or alter the tuples once decleared
print(tupl)

('Apple', 'Grapes')
------------------------

AttributeError: 'tuple' object has no attribute 'insert'

In [85]:
tupl = ('Apple',"Grapes",'Mangoes')
print(tupl[1])

for tp in tupl:
    print(tp)
for tp in range(len(tupl)):
    print(tp)
    print(tupl[tp])

tupl1 = (1,2,3,4)

print(tupl + tupl1)

Grapes
Apple
Grapes
Mangoes
0
Apple
1
Grapes
2
Mangoes
('Apple', 'Grapes', 'Mangoes', 1, 2, 3, 4)

In [86]:
#4th June Live Class Agenda Sets Disctonary and uers defined functions

In [87]:
#SETS
set1 = {'India','USA','UK','Germany'} #sets we cannot change the inside the set and not inorder
#you can remove and add the item
#we change the list but not tuples
#set can be mutable
#we cannot have duplicates
print(set1)

{'UK', 'USA', 'India', 'Germany'}

In [90]:
#we cannot have duplicates in set
set2 = {'India','USA','UK','Germany','USA'}
print(len(set2))
print(set2)
"""
Unlike lists, sets are unordered. You cannot access the elements of a set by index. The order you see when printing a set is not
necessarily the order in which the elements were added.

Sets cannot contain duplicates. Duplicates are discarded when initializing a set. If adding an element to a set, and that 
element is already contained in the set, then the set will not change.
\n
"""

4
{'UK', 'USA', 'India', 'Germany'}

'\nUnlike lists, sets are unordered. You cannot access the elements of a set by index. The order you see when printing a set is not\nnecessarily the order in which the elements were added.\n\nSets cannot contain duplicates. Duplicates are discarded when initializing a set. If adding an element to a set, and that \nelement is already contained in the set, then the set will not change.\n\n\n'

In [92]:
set3 = set(('India','USA','UK','Germany')) #by using set constructor we can have sets
print(set3)

{'UK', 'USA', 'India', 'Germany'}

In [96]:
set4 = {'India','USA','UK','Germany'}
set5 = {10,20,30,40,5}
#union()
set6 = set4.union(set5) #new set is created
print(set6)
#update()
set4.update(set5) #same set is updated here 
print(set4)

{5, 40, 10, 'India', 'Germany', 'USA', 20, 'UK', 30}
{5, 40, 10, 'India', 'Germany', 'USA', 20, 'UK', 30}

In [98]:
#i just want to keep duplicate values
set7 = {'India','USA','UK','Germany'}
set8 = {'KSA','Italy','Germany','France'}

#we use intersection update only duplicate items in both sets

set7.intersection_update(set8) #updating the existing set

print(set7)

set9 = set7.intersection(set8) #creating new set after intersection
print(set9)

{'Germany'}
{'Germany'}

In [2]:
set7 = {'India','USA','UK','Germany'}
set8 = {'KSA','Italy','Germany','France'}



set7.symmetric_difference_update(set8) 

print(set7)

{'France', 'UK', 'Italy', 'India', 'USA', 'KSA'}

In [3]:
team1 = {'Tom','Alice','John'}
team2 = {'Ally','Mary','Alice','Jerry'}
team3 = team1.symmetric_difference(team2)
print(team3)

{'Tom', 'Ally', 'John', 'Mary', 'Jerry'}

In [6]:
for i in team1:
    print(i)

Tom
John
Alice

In [11]:
for i in team1,team2:
    print(i)

{'Tom', 'John', 'Alice'}
{'Jerry', 'Mary', 'Ally', 'Alice'}

In [3]:
#dictionar
dict1 = {'Name':'Alice','Age':20,'City':'Milan'}
#python version 3.7 is ordered, but upto 3.6 version unordered
#dictionaries does not allow duplicates
#dictonary is associated with key : value
print(dict1)
#we can access the data item by keyvalue
print(dict1['Name'])

{'Name': 'Alice', 'Age': 20, 'City': 'Milan'}
Alice

In [10]:
dict2 = {'Name':'Alice','Age':20,'City':'Milan','City':'Goa'}
#Dict over riders with latest value
print(dict2)
print(type(dict2))

ky = dict2.keys()
print(ky)

{'Name': 'Alice', 'Age': 20, 'City': 'Goa'}
<class 'dict'>
dict_keys(['Name', 'Age', 'City'])

In [11]:
for k in ky:
    print(k)

Name
Age
City

In [12]:
#dict() constructor

dict3 = dict(Name = 'Alice Tom',Age = 23,City = 'Milan')
print(dict3)

{'Name': 'Alice Tom', 'Age': 23, 'City': 'Milan'}

In [13]:
dict4 = {'Name':'Alice','Age':20,'City':'Milan','RollNo':'06M61A04B4'}

print(dict4)

dict4['Name'] = 'Alice Tom'

print(dict4)

{'Name': 'Alice', 'Age': 20, 'City': 'Milan', 'RollNo': '06M61A04B4'}
{'Name': 'Alice Tom', 'Age': 20, 'City': 'Milan', 'RollNo': '06M61A04B4'}

In [17]:

dict4.update({'City':'New York'})#id the key value already then it will update the value
print(dict4)

{'Name': 'Alice Tom', 'Age': 20, 'City': 'New York', 'RollNo': '06M61A04B4'}

In [18]:
#add a new key vale to the dictonary

dict4['Grade'] = 'A'
print(dict4)

{'Name': 'Alice Tom', 'Age': 20, 'City': 'New York', 'RollNo': '06M61A04B4', 'Grade': 'A'}

In [26]:
#we can updated the dict
dict5 = {'Name':'Alice','Age':20,'City':'Milan','RollNo':'06M61A04B4'}
dict5.update({'Grade':'A+'})#if the key is not there then it will be add a key and value
print(dict5)

{'Name': 'Alice', 'Age': 20, 'City': 'Milan', 'RollNo': '06M61A04B4', 'Grade': 'A+'}

In [27]:
#delete the key value from the dict
dict5.pop('Grade')
print(dict5)

{'Name': 'Alice', 'Age': 20, 'City': 'Milan', 'RollNo': '06M61A04B4'}

In [28]:
dict6 = {'Name':'Alice','Age':20,'City':'Milan','RollNo':'06M61A04B4'}
print(dict6)
del dict6['Age']
print(dict6)

{'Name': 'Alice', 'Age': 20, 'City': 'Milan', 'RollNo': '06M61A04B4'}
{'Name': 'Alice', 'City': 'Milan', 'RollNo': '06M61A04B4'}

In [29]:
print(dict6)
del dict6
print(dict6)

{'Name': 'Alice', 'City': 'Milan', 'RollNo': '06M61A04B4'}

NameError: name 'dict6' is not defined

In [30]:
dict7 = {'Name':'Alice','Age':20,'City':'Milan','RollNo':'06M61A04B4'} 
print(dict7)
dict7.clear()#cleares the dictionary
print(dict7)

{'Name': 'Alice', 'Age': 20, 'City': 'Milan', 'RollNo': '06M61A04B4'}
{}

In [32]:
dct1 = {'Name':'Alice','Age':20,'City':'Milan','RollNo':'06M61A04B4'} 

for d in dct1.values(): #gives values
    print(d)

Alice
20
Milan
06M61A04B4

In [33]:
dct1 = {'Name':'Alice','Age':20,'City':'Milan','RollNo':'06M61A04B4'} 

for d in dct1: #gives Key
    print(d)

Name
Age
City
RollNo

In [34]:
dct2 = {'Name':'Alice','Age':20,'Designation':'Manager'}
dct3 = dct1.copy() #copies the dct2 items into dct3
print(dct3)

{'Name': 'Alice', 'Age': 20, 'City': 'Milan', 'RollNo': '06M61A04B4'}

In [35]:
#Nested Dictonary

d = {'d1':{'Name':'Alice','Age':20},'d2':{'Name':'Tom','Age':23},'d3':{'Name':'Gary','Age':21}}

print(d)

{'d1': {'Name': 'Alice', 'Age': 20}, 'd2': {'Name': 'Tom', 'Age': 23}, 'd3': {'Name': 'Gary', 'Age': 21}}

In [38]:
for i in d.values():
    print(i)

{'Name': 'Alice', 'Age': 20}
{'Name': 'Tom', 'Age': 23}
{'Name': 'Gary', 'Age': 21}

In [1]:
#Why we need function 
#key word to define function is def
def myFirstFun():
    print('this is my 3rd week of lecture')

myFirstFun() #untill unless we call the function wemcannot execute the function method

this is my 3rd week of lecture

In [8]:
def mySendFun(name):
    print(name + ' is a good performing student')

nm = input('Please Enter the Name of the Student:') # can take input from the user
mySendFun(nm) #function calling with single argument

Please Enter the Name of the Student:Gary Kristen
Gary Kristen is a good performing student

In [15]:
#Calculator Funtion

def myAdd(a,b):
    print('Addition:',a + b)
    
def mySub(a,b):
    print('Sustration:',a - b)
    
def myDiv(a,b):
    print('Division:',a / b)
    
def myMul(a,b):
    print('Multiplication:',a * b)
    
def myMod(a,b):
    print('Modulo:',a % b)
    
i = int(input('Enter the Number1 : '))
j = int(input('Enter the Number2 : '))

myAdd(i,j)
mySub(i,j)
myDiv(i,j)
myMul(i,j)
myMod(i,j)

Enter the Number1 : 78
Enter the Number2 : 12
Addition: 90
Sustration: 66
Division: 6.5
Multiplication: 936
Modulo: 6